<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
  <h3>File Metadata Microservice</h3>
  <form id="file-form" enctype="multipart/form-data">
		<input type="file" name="the-file" />
    <br/>
		<input type="submit" value="Upload" />
	</form>

  <script type="text/javascript">
    $('form').on('submit', function(event) {
      event.preventDefault();
      $.ajax({
        type: 'POST',
        url: '/api/fileanalyse',
        dataType: "json",
        data: new FormData(this),
        contentType: false,
        processData: false,
        success: function(data) {
            alert('File Size: ' + data.fileSize);
        }
      })
    })
  </script>



</body>
</html>
